%backup%~
.last-package-update-day
.python-environments
ac-comphist.dat
auto-save-list
bookmarks
custom.el
elpa
eshell
games
go
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
request
session.*
smex-items
tramp
url
yasnippet-snippets